/*
* Parent component _vars.scss
* 
* Here you can describe some basic variables for your child components.
* Set up you margin value, padding value, website color ect.
* 
*/

/*
* Started values for generate boot components
*/
$config: (
    margin: 4px,
    padding: 4px
);

$media: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
/*
* Base colors
*/
$basicBlack: #000;
$basicWhite: #fff;
