// typography sub-1

$typography_sub-1: (
    font-size: (20rem / 16),
    line-height: (30rem / 16),
    font-weight: 400
);

$typography_sub-1_xxl: (
    font-size: (20rem / 16),
    line-height: (30rem / 16),
    font-weight: 400
);

$typography_sub-1_sm: (
    font-size: (18rem / 16),
    line-height: (24rem / 16),
    font-weight: 400
);

// typography sub-2

$typography_sub-2: (
    font-size: (18rem / 16),
    line-height: (27rem / 16),
    font-weight: 400
);

$typography_sub-2_xxl: (
    font-size: (16rem / 16),
    line-height: (24rem / 16),
    font-weight: 400
);

$typography_sub-2_sm: (
    font-size: (14rem / 16),
    line-height: (21rem / 16),
    font-weight: 400
);

// typography button

$typography_button: (
    font-size: (20rem / 16),
    line-height: (30rem / 16),
    font-weight: 500

);

$typography_button_xxl: (
    font-size: (18rem / 16),
    line-height: (27rem / 16),
    font-weight: 500
);

$typography_button_sm: (
    font-size: (14rem / 16),
    line-height: (21rem / 16),
    font-weight: 500
);

// typography body

$typography_body: (
    font-size: (16rem / 16),
    line-height: (24rem / 16),
    font-weight: 400
);

$typography_body_xxl: (
    font-size: (16rem / 16),
    line-height: (24rem / 16),
    font-weight: 400
);

$typography_body_sm: (
    font-size: (14rem / 16),
    line-height: (21rem / 16),
    font-weight: 400
);

// typography caption

$typography_caption: (
    font-size: (14rem / 16),
    line-height: (21rem / 16),
    font-weight: 500
);

$typography_caption_xxl: (
    font-size: (12rem / 16),
    line-height: (18rem / 16),
    font-weight: 500
);

$typography_caption_sm: (
    font-size: (12rem / 16),
    line-height: (18rem / 16),
    font-weight: 500
);