/*
* Parent component _vars.scss
* 
* Here you can describe some basic variables for your child components.
* Set up you margin value, padding value, website color ect.
* 
*/

/*
* Started values for generate margin and padding classes
*/
$basePadding: 4px;
$baseMargin: 4px;

$basicBlack: #000;
$basicWhite: #fff;
