/*
* Extends variables of Parent Component
*/

$margin_base: (
   'mg':'margin',
   'mg-t':'margin-top',
   'mg-r':'margin-right',
   'mg-b':'margin-bottom',
   'mg-l':'margin-left'
);

$margin_x_base: (
   'mg-x':'margin'
);

$margin_y_base: (
   'mg-y':'margin'
);

$margin_config:(
   0: map-get($map: $config, $key: 'margin') * 0,
   1: map-get($map: $config, $key: 'margin') * 1,
   2: map-get($map: $config, $key: 'margin') * 2,
   3: map-get($map: $config, $key: 'margin') * 3,
   4: map-get($map: $config, $key: 'margin') * 4,
   5: map-get($map: $config, $key: 'margin') * 5,
   6: map-get($map: $config, $key: 'margin') * 6,
   7: map-get($map: $config, $key: 'margin') * 7,
   8: map-get($map: $config, $key: 'margin') * 8,
   9: map-get($map: $config, $key: 'margin') * 17.5,
);

$margin_x_config: (
   0: 0 map-get($map: $margin_config, $key: 0),
   1: 0 map-get($map: $margin_config, $key: 1),
   2: 0 map-get($map: $margin_config, $key: 2),
   3: 0 map-get($map: $margin_config, $key: 3),
   4: 0 map-get($map: $margin_config, $key: 4),
   5: 0 map-get($map: $margin_config, $key: 5),
   6: 0 map-get($map: $margin_config, $key: 6),
   7: 0 map-get($map: $margin_config, $key: 7),
   8: 0 map-get($map: $margin_config, $key: 8),
   9: 0 map-get($map: $margin_config, $key: 9),
   auto: 0 auto
);

$margin_y_config: (
   0: map-get($map: $margin_config, $key: 0) 0,
   1: map-get($map: $margin_config, $key: 1) 0,
   2: map-get($map: $margin_config, $key: 2) 0,
   3: map-get($map: $margin_config, $key: 3) 0,
   4: map-get($map: $margin_config, $key: 4) 0,
   5: map-get($map: $margin_config, $key: 5) 0,
   6: map-get($map: $margin_config, $key: 6) 0,
   7: map-get($map: $margin_config, $key: 7) 0,
   8: map-get($map: $margin_config, $key: 8) 0,
   9: map-get($map: $margin_config, $key: 9) 0
);
